job_queue: sonic-ci
provision_data:
  distro: jammy
test_data:
  test_cmds: |
    set -e
    set -x

    # 1. Install necessary packages
    ssh ubuntu@$DEVICE_IP git clone -q -b {{ branch }} --recurse-submodules https://github.com/canonical/sonic-buildimage.git
    ssh ubuntu@$DEVICE_IP sudo apt update > /dev/null
    ssh ubuntu@$DEVICE_IP sudo apt install -y python3 python-is-python3 docker.io jq python3-pip pipx curl j2cli make apt-transport-https ca-certificates gnupg-agent software-properties-common docker-buildx > /dev/null
    ssh ubuntu@$DEVICE_IP pip3 install -q --user j2cli > /dev/null
    ssh ubuntu@$DEVICE_IP pip3 install -q --user jinjanator > /dev/null
    ssh ubuntu@$DEVICE_IP sudo gpasswd -a ubuntu docker
    ssh ubuntu@$DEVICE_IP sudo systemctl restart docker
    ssh ubuntu@$DEVICE_IP sudo chmod a+rw /var/run/docker.sock

    # 2. Install the rock-related dependencies
    ssh ubuntu@$DEVICE_IP sudo snap install rockcraft --classic
    ssh ubuntu@$DEVICE_IP lxd init --auto
    ssh ubuntu@$DEVICE_IP sudo sh -c 'echo "net.ipv4.conf.all.forwarding=1" > /etc/sysctl.d/99-forwarding.conf'
    ssh ubuntu@$DEVICE_IP sudo systemctl restart systemd-sysctl
    ssh ubuntu@$DEVICE_IP sudo iptables  -I DOCKER-USER -i lxdbr0 -j ACCEPT
    ssh ubuntu@$DEVICE_IP sudo ip6tables -I DOCKER-USER -i lxdbr0 -j ACCEPT
    ssh ubuntu@$DEVICE_IP sudo iptables  -I DOCKER-USER -o lxdbr0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
    ssh ubuntu@$DEVICE_IP sudo ip6tables -I DOCKER-USER -o lxdbr0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

    # 3. Build broadcom image (rock)
    ssh ubuntu@$DEVICE_IP sudo modprobe overlay
    ssh ubuntu@$DEVICE_IP "cd /home/ubuntu/sonic-buildimage && make init"
    ssh ubuntu@$DEVICE_IP "cd /home/ubuntu/sonic-buildimage && MIRROR_SECURITY_URLS=http://mirror.csclub.uwaterloo.ca/ubuntu/ MIRROR_URLS=http://mirror.csclub.uwaterloo.ca/ubuntu/ make configure PLATFORM=broadcom"
    ssh ubuntu@$DEVICE_IP "cd /home/ubuntu/sonic-buildimage && DBGOPT=1 SONIC_BUILD_RETRY_COUNT=15 make SONIC_BUILD_JOBS=4 -f Makefile.rocks target/sonic-broadcom.bin"

    # 4. Prepare HTTP service
    ssh ubuntu@$DEVICE_IP test -f /home/ubuntu/sonic-buildimage/target/sonic-broadcom.bin
    ssh ubuntu@$DEVICE_IP "nohup python3 -m http.server 8080 --directory /home/ubuntu/sonic-buildimage/target > /dev/null 2>&1 &"

    # 5. Setup mgmt container
    ssh ubuntu@$DEVICE_IP git clone -b sonic_on_ubuntu https://github.com/jy5275/sonic-mgmt > /dev/null
    ssh ubuntu@$DEVICE_IP "cd sonic-mgmt/ansible && sudo -H ./setup-management-network.sh"
    ssh ubuntu@$DEVICE_IP "cd sonic-mgmt && ./setup-container.sh -n mgmt -d /data"
    export MGMT_IP=$(ssh ubuntu@$DEVICE_IP docker inspect mgmt | jq -r '.[0].NetworkSettings.IPAddress')
    export HOST_IP=$(ssh ubuntu@$DEVICE_IP docker inspect mgmt | jq -r '.[0].NetworkSettings.Gateway')
    ssh ubuntu@$DEVICE_IP 'echo "ubuntu ALL=(ALL) NOPASSWD:ALL" | sudo tee -a /etc/sudoers > /dev/null'

    # 6. Install image from mgmt container to the DUT
    # ansible-playbook upgrade_sonic.yml -vvv -i inventory -e testbed_name=ubuntu-sonic-demo -e testbed_file=testbed.yaml -e upgrade_type=onie -e image_url=http://16.162.34.49:8080/sonic-broadcom.bin
    ssh ubuntu@$DEVICE_IP docker exec -w /data/sonic-mgmt/ansible mgmt ansible-playbook upgrade_sonic.yml -vvv -i inventory \
        -e testbed_name=ubuntu-sonic-demo \
        -e testbed_file=testbed.yaml \
        -e upgrade_type=onie \
        -e image_url=http://$DEVICE_IP:8080/sonic-broadcom.bin

    # Check switch status

# output_timeout: 1800  # Max duration that testflinger allowed not seeing any output from terminal: 30min
global_timeout: 43200 # Time limit for this testflinger job to run: 12hours